@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

:root {
    --main-color: white;
    --border-radius: 95% 4% 97% 5% / 4% 94% 3% 95%;
    --border-radius-hover: 4% 95% 6% 95% / 95% 4% 92% 5%;
    --border: .2rem solid white;
    --border-hover: .2rem dashed white;
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 9%;
}

.heading {
    font-size: 9rem;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: .05rem var(--main-color);
    letter-spacing: .2rem;
    text-align: center;
    pointer-events: none;
    position: relative;
}

.heading span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color: var(--main-color);
    font-size: 3rem;
}

.btn {
    display: inline-block;
    padding: .9rem 1.5rem;
    border: var(--border);
    border-radius: var(--border-radius);
    color: var(--main-color);
    background: none;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.7rem;
}

.btn:hover {
    border-radius: var(--border-radius-hover);
    border: var(--border-hover);
}

/* HEADER */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    background: #323232;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: 2rem 9%;
}

.header .logo {
    color: white;
    font-size: 2.3rem;
}

.header .logo:hover {
    color: rgb(153, 153, 153);
}

.header .logo i {
    padding-left: .5rem;
}

.header .navbar a {
    margin: 0 1rem;
    font-size: 1.7rem;
    color: white;
}
.header .navbar a:hover {
    color: rgb(153, 153, 153);
}

.header .btn {
    margin-top: 0;
}

#menu-btn {
    font-size: 3rem;
    color: var(--main-color);
    cursor: pointer;
    display: none;
}

/* HOME */

.home {
    min-height: 100vh;
    padding-top: 12rem;
    background: url(../image/home-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}

.home .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.home .row .content {
    flex: 1 1 42rem;
}

.home .row .image {
    flex: 1 1 42rem;
    padding-top: 10rem;
    text-align: center;
}

.home .row .image img {
    height: 35rem;
    animation: float 4s linear infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(-7rem);
    }
}

.home .row .content h3 {
    font-size: 6.5rem;
    color: white;
    text-transform: uppercase;
}

.home .image-slider {
    text-align: center;
    padding: 3rem 0;
}

.home .image-slider img {
    height: 9rem;
    margin: 0 .5rem;
    cursor: pointer;
    margin-top: 5rem;
}

.home .image-slider img:hover {
    transform: translateY(-2rem);
}

/* ABOUT */
.about {
    background-color: #4e4e4e;
}
.about .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.about .row .image {
    flex: 1 1 42rem;
}

.about .row .image img {
    width: 100%;
    animation: aboutImage 4s linear infinite;
}

@keyframes aboutImage {

    0%,
    100% {
        transform: scale(.9);
        border-radius: var(--border-radius-hover);
    }

    50% {
        transform: scale(.8);
        border-radius: var(--border-radius);
    }
}

.about .row .content {
    flex: 1 1 42rem;
}

.about .row .content .title {
    color: var(--main-color);
    font-size: 3rem;
    line-height: 1.8;
}

.about .row .content p {
    color: var(--main-color);
    font-size: 1.5rem;
    line-height: 1.8;
    padding: 1rem 0;
}

.about .row .content .icons-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 3rem;
}

.about .row .content .icons-container .icons {
    flex: 1 1 15rem;
    padding: 1.5rem;
    text-align: center;
    border: var(--border);
    border-radius: var(--border-radius);
}

.about .row .content .icons-container .icons img {
    height: 5rem;
}

.about .row .content .icons-container .icons h3 {
    font-size: 1.7rem;
    padding-top: 1rem;
    color: var(--main-color);
}

/* MENU */

.menu {
    background: url(../image/menu-bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.footer {
    background-color: #4e4e4e;
}
.menu .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
}

.menu .box-container .box {
    flex: 1 1 42rem;
    padding: 2rem;
    border: var(--border);
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-left: 6rem;
}

.menu .box-container .box:hover {
    border: var(--border-hover);
    border-radius: var(--border-radius-hover);
}

.menu .box-container .box img {
    height: 8rem;
    margin-left: -6rem;
}

.menu .box-container .box .content h3 {
    font-size: 2.2rem;
    color: var(--main-color);
    line-height: 1.8;
}

.menu .box-container .box .content p {
    font-size: 1.6rem;
    color: var(--main-color);
    line-height: 1.8;
    padding: 1rem 0;
}

.menu .box-container .box .content span {
    font-size: 2rem;
    color: var(--main-color);
    line-height: 1.8;
}

/* REVIEW */

.review .review-slider {
    padding: 7rem 0;
}

.review .review-slider .box {
    border: var(--border);
    border-radius: var(--border-radius);
    text-align: center;
    position: relative;
    z-index: 0;
    padding: 2rem;
}

.review .review-slider .box .fa-quote-left {
    position: absolute;
    top: 2rem;
    left: 2.5rem;
    font-size: 6rem;
    color: #ccc;
    z-index: -1;
}

.review .review-slider .box .fa-quote-right {
    position: absolute;
    bottom: 2rem;
    right: 2.5rem;
    font-size: 6rem;
    color: #ccc;
    z-index: -1;
}

.review .review-slider .box:hover .fa-quote-left {
    top: -6.5rem;
}

.review .review-slider .box:hover .fa-quote-right {
    bottom: -6.5rem;
}

.review .review-slider .box img {
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    margin-bottom: .7rem;
}

.review .review-slider .box .stars {
    padding: .5rem 0
}

.review .review-slider .box .stars i {
    font-size: 1.7rem;
    color: var(--main-color);
}

.review .review-slider .box p {
    font-size: 1.6rem;
    color: var(--main-color);
    padding: 1rem 0;
    line-height: 1.8;
}

.review .review-slider .box h3 {
    font-size: 2.2rem;
    color: var(--main-color);
    line-height: 1.8;
}

.review .review-slider .box span {
    font-size: 1.5rem;
    color: var(--main-color);
}

.swiper-pagination-bullet {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 0;
}

.swiper-pagination-bullet-active {
    background: var(--main-color);
}

/* BOOK */

.book {
    background: url(../image/book-bg.jpg);
    background-position: center;
    background-size: cover;
}

.book form {
    margin: 0 auto 2rem auto;
    max-width: 60rem;
    border-radius: var(--border-radius-hover);
    padding: 3rem;
    border: var(--border);
}

.book form .box {
    width: 100%;
    padding: 1rem 1.2rem;
    border-radius: .5rem;
    font-size: 1.6rem;
    background: none;
    text-transform: none;
    color: var(--main-color);
    border: var(--border);
    margin: .7rem 0;
}

.book form .box:focus {
    border: var(--border-hover);
}

.book form textarea {
    height: 15rem;
    resize: none;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    gap: 1.5rem;
}

.footer .box-container .box h3 {
    font-size: 2.5rem;
    padding: 1rem 0;
    color: var(--main-color);
}

.footer .box-container .box a {
    display: block;
    font-size: 1.5rem;
    padding: 1rem 0;
    color: var(--main-color);
}

.footer .box-container .box a i {
    padding-right: .5rem;
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .credit {
    text-align: center;
    font-size: 2rem;
    padding: 2rem 1rem;
    margin-top: 1rem;
    color: var(--main-color);
}

.footer .credit span {
    border-bottom: var(--border-hover);
}


.heading span {
    color: black;
}
.box {
    text-align: center;
}

.main-content {
    max-width: 800px;
    margin: 20px auto;
    margin-top: 100px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.section-title {
    font-size: 24px;
    color: #2b2b2b;
    margin-bottom: 10px;
}

.section-paragraph {
    font-size: 16px;
    margin-bottom: 15px;
    padding: 0 15px;
}

@media (max-width: 768px) {
    .section-title {
        font-size: 20px;
    }
    
    .section-paragraph {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .section-title {
        font-size: 18px;
    }
    
    .section-paragraph {
        font-size: 13px;
        padding: 0 10px;
    }
}
.link-privacy-terms {
    color: rgb(151, 151, 151);
    font-weight: 600;
    transition: color 0.3s ease;
}
.link-privacy-terms:hover {
    color: rgb(0, 0, 0);
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }

    .header {
        padding: 3rem;
    }

    section {
        padding: 2rem;
    }
}

@media (max-width: 768px) {
    .heading {
        font-size: 6rem;
    }

    .heading span {
        font-size: 2.3rem;
    }

    #menu-btn {
        display: initial;
    }

    #menu-btn.fa-times {
        transform: rotate(180deg);
    }

    .header .navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: #505050bf;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    .header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a {
        display: block;
        font-size: 2.2rem;
        margin: 0;
        padding: 1.5rem 2rem;
    }

    .home {
        text-align: center;
    }

    .home .row .content h3 {
        font-size: 4rem;
    }

    .menu .box-container .box {
        margin-left: 0;
        margin-top: 6rem;
        flex-flow: column;
        text-align: center;
    }

    .menu .box-container .box img {
        margin-left: 0;
        margin-top: -6rem;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }

    .home .row .image img {
        height: auto;
        width: 100%;
    }
}

.reviews-section-title {
    text-align: center;
    font-size: 32px;
    color: #ffffff;
    margin-bottom: 15px;
}
.slider {
    margin-top: 15px;
      display: flex;
      gap: 15px;
  
      transition: transform 0.5s ease-in-out;
  }
  .review-all {
      min-width: 45%;
      width: 100px;
      background: #fff;
      padding: 15px;
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  
  .author {
      font-weight: bold;
      color: #7c94a1;
      margin-top: 10px;
  }


  .review-all img {
    width: 120px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.reviews-section{
    overflow: hidden;
}

.contact-form__checkbox {
    margin-right: 8px;
}

.privacy-link {
    color: white;
    text-decoration: none; 
}

.privacy-link:hover {
    text-decoration: underline;
}

.accept-input {
    display: flex;
    align-items: center;
    font-size: 14px;
}


.coffee-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 20px;
    max-width: 1920px;
}


@media (max-width: 768px) {
    .coffee-grid {
        grid-template-columns: 1fr; 
    }
}
.section-title-map {
    font-size: 32px;
    color: #ffffff;
}

.coffee-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    background-color: #f9f9f9;
}

.coffee-image {
    width: 100%;
    height: auto;
}

.coffee-details {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}

.coffee-address,
.coffee-phone {
    font-size: 14px;
    color: #555;
}

.coffee-address i,
.coffee-phone i {
    margin-right: 5px;
}

.coffee-making-process {
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 70px;
    padding: 20px;
}

.section-title {
    text-align: center;
    margin-bottom: 10px;
    font-size: 32px;
    color: #000000;
}

.process-list {
    display: flex;
    flex-direction: column;
    gap: 20px; 
}

.process-card {
    display: flex;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    padding: 10px;
    transition: transform 0.3s;
}

.process-card:hover {
    transform: scale(1.02);
}

.process-image {
    width: 50%;
    height: auto;
    border-radius: 20px;
}

.process-text {
    width: 50%;
    padding: 20px;
    font-size: 14px;
}

.process-card.reverse {
    flex-direction: row-reverse;
}

@media (max-width: 768px) {
    .process-image, .process-text {
        width: 100%;
    }
    
    .process-card {
        flex-direction: column;
    }
}

.baristas-section {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section-title {
    text-align: center;
    font-size: 32px;
    color: black;
    margin-bottom: 20px;
}

.section-description {
    text-align: center;
    font-size: 14px;
    color: #666;
    margin-bottom: 40px;
}

.baristas-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.barista-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    text-align: center;
}

.barista-card:hover {
    transform: translateY(-5px);
}

.barista-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.barista-name {
    font-size: 1.5em;
    margin: 10px 0;
    color: black;
}

.barista-experience {
    font-size: 1em;
    color: #888;
}

.barista-description {
    padding: 15px;
    font-size: 0.9em;
    color: #444;
}

@media (max-width: 768px) {
    .baristas-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .baristas-grid {
        grid-template-columns: 1fr;
    }
}